@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* Colors */
  --clr-bg: hsl(212, 45%, 89%);
  --clr-card: #ffffff;
  --clr-title: hsl(218, 44%, 22%);
  --clr-text: hsl(216, 15%, 48%);

  /* Font */
  --ff-base: "Outfit", sans-serif;
  --fs-title: 22px;
  --fs-text: 15px;
  --fw-title: 700;
  --fw-text: 400;

  /* Spacing */
  --radius-card: 20px;
  --radius-img: 10px;
  --card-width: 320px;
  --padding-card: 16px 16px 40px 16px;
  --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--clr-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--clr-card);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
  width: var(--card-width);
  height: var(--card-height);
  padding: var(--padding-card);
}

img {
  border-radius: var(--radius-img);
  width: 100%;
}

.card__title {
  color: var(--clr-title);
  font-family: var(--ff-base);
  font-weight: var(--fw-title);
  font-size: var(--fs-title);
  line-height: 120%;
  letter-spacing: 0px;
}

.card__text {
  color: var(--clr-text);
  font-family: var(--ff-base);
  font-weight: var(--fw-text);
  font-size: var(--fs-text);
  line-height: 140%;
  letter-spacing: 0.2px;
}
